@import "../../styles/variables.scss";

.header {
  background: $alt-body-color;
  height: 40px;
  width: auto;
  margin: auto;
}

.title {
  margin-top: 5px;
  margin-left: 1rem;
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
}

.right {
  float: right;
  padding-right: 4rem;
}
