@import "../../styles/variables.scss";

.header {
  background: scale-color($primary-color, $saturation: -20%, $lightness: -30%);
  height: 40px;
  width: auto;
  margin: auto;
}

.right {
  float: right;
  padding-right: 4rem;
}
