.loadingContainer {
  width: fit-content;
  height: fit-content;
  margin: auto;
  &.small {
    font-size: small;
  }
  &.large {
    font-size: 3rem;
    margin: 3rem auto;
  }
  .spinner {
    animation-name: spin;
    animation-duration: 777ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
