@import "./variables.scss";

$input-color: scale-color($primary-color, $lightness: 50%);
$input-background: scale-color($input-color, $lightness: 50%);

@mixin button {
  padding: 8px;
  margin: 4px;
  color: black;
  background: $input-background;
  @include border-style;
  cursor: pointer;

  &:hover {
    @include border-style;
    background: scale-color($input-background, $lightness: -20%);
  }
  &:disabled {
    user-select: none;
    cursor: initial;
    background: scale-color($input-background, $alpha: -50%);
  }
}

button {
  @include button;
}

.icon-btn {
  @include button;
  color: $input-color;
  border: solid 1px rgba(0, 0, 0, 0);
  background: none;
  box-sizing: border-box;
}

input {
  @include border-style;
  height: 1rem;
  padding: 4px;
  margin-top: 2px;
  background-color: $input-background;
  color: black;
}

.login-form {
  position: absolute;
  right: 4rem;
  background: $alt-body-color;
  @include border-style;
  padding: 4px;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
    width: fit-content;
  }
}
