@import "./variables.scss";
@import "./input.scss";
@import "./table.scss";
@import "./grid.scss";
@import "./util.scss";

@font-face {
  font-family: "Roboto";
  src: url("../../public/Roboto-Regular.ttf");
}

* {
  font-family: "Roboto";
}

body {
  background: $body-color;
  color: white;
}

.content {
  max-width: 50vw;
  margin: auto;
}

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
}

a,
.text-button {
  text-decoration-line: none;
  background: none;
  border: none;
  color: $link-color;
  padding: 0;
  margin: 0;

  &:hover {
    background: none;
    border: none;
    color: $link-color-hover;
  }
}

.display-flex {
  display: flex;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  align-self: flex-end;
}
