@import "../../styles/variables.scss";

.modal {
  padding: 1rem;
  width: 40%;
  margin: 15vh auto;
  background: $alt-body-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .handle {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px scale-color($primary-color, $saturation: -25%, $lightness: -15%);
    h2 {
      margin: 0.5rem 0;
      float: left;
      width: fit-content;
    }
  }
}

.closeButton {
  float: right;
  margin: 0;
  font-size: 1.5rem;
  border: none;
  color: $link-color;
  &:hover {
    background: none;
    color: lighten($link-color, 10%);
    border: none;
  }
}
